*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: aqua;
}
.contact .content{
    max-width: 500px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
}
.contact .content p{
    font-weight: 300;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
