*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(images/bck3.jpg);
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}
.content h1{
    font-size: 30px;
    margin-top: 80ox;
    font-family: "Archivo Black", sans-serif;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-style: italic;
    font-weight: bold;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid grey;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background : grey;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
    
}
button:hover{
    border: none;
    color: black;
}